@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #03a3d2;
    background-image: url("./images/aircraft.png");
    background-repeat: repeat;
    background-position: center;
  }

 .backArrow{
   background-image: url("./images/back.png");
   background-repeat: no-repeat;
 } 

.customBlueLight {
    background-color: #ddddd5;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.gradientCardStyle{
  background: rgb(221,218,214);
  background: linear-gradient(166deg, rgba(221,218,214,1) 0%, rgba(219,219,219,1) 100%);
}

.redTextColor {
  color: #ca171b
}
